@model Cast

<h1>@ViewBag.OneActor.Name</h1>
<div class="row">
    <div class="col-6">
        <h3>Movies Acted In</h3>
        @foreach (Cast c in ViewBag.OneActor.MoviesActedIn)
        {
            <h4>@c.Movie.Title (@c.Movie.ReleaseYear)</h4>
        }
    </div>
    <div class="col-6">
        <form action="/cast/add" method="post">
            <input type="hidden" name="option" value="actor">
            <input type="hidden" asp-for="ActorId" value="@ViewBag.OneActor.ActorId">
            <div class="form-group">
                <label for="MovieId">Movie Options</label>
                <select name="MovieId" class="form-control">
                    @foreach (Movie a in ViewBag.MoviesNotCastActor)
                    {
                        <option value="@a.MovieId">@a.Title (@a.ReleaseYear)</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>