@model Cast

<h1>@ViewBag.OneMovie.Title (@ViewBag.OneMovie.ReleaseYear)</h1>
<div class="row">
    <div class="col-6">
        <h3>Actors In Movie</h3>
        @foreach (Cast c in ViewBag.OneMovie.ListOfActors)
        {
            <h4>@c.Actor.Name</h4>
        }
    </div>
    <div class="col-6">
        <form action="/cast/add" method="post">
            <input type="hidden" name="option" value="movie">
            <input type="hidden" asp-for="MovieId" value="@ViewBag.OneMovie.MovieId">
            <div class="form-group">
                <label for="ActorId">Actor Options</label>
                <select name="ActorId" class="form-control">
                    @foreach(Actor a in ViewBag.ActorsNotInMovie)
                    {
                        <option value="@a.ActorId">@a.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>