@{
    string message = (string)TempData["message"];
    string[] gameTypes = new string[] { "Feed", "Play", "Work", "Sleep" };
    bool restart = false;
    if (Model.DidLose)
    {
        message = "You Dojodachi has passed away";
        restart = true;
    }
    else if (Model.DidWin)
    {
        message = "Congradulations, You Won!";
        restart = true;

    }
}
@model Dachi
<h2>Fullness: @Model.Fullness | Happiness: @Model.Happiness | Meals: @Model.Meals | Energy: @Model.Energy</h2>
<div class="game">
    <p>@message</p>
</div>
@{
    if (!restart)
    {
        foreach (string gt in gameTypes)
        {
            <a asp-action="Play" asp-controller="Home" asp-route-gameType="@gt.ToLower()"><button>@gt</button></a>
        }
    }
    else
    {
        <a asp-action="Restart" asp-controller="Home">Restart?</a>
    }
}