@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Character Creator</h1>
    <div class="d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src=@ViewBag.CharImg alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@ViewBag.CharName</h5>
                <p class="card-text">Level: @ViewBag.CharLvl</p>
                <p class="card-text">Strength: @ViewBag.CharStr</p>
                <p class="card-text">Intelligence: @ViewBag.CharInt</p>
                <p class="card-text">Dexterity: @ViewBag.CharDex</p>
            </div>
        </div>
    </div>
    <a href="/generate" class="btn btn-info m-4">Generate Character</a>
</div>
